@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$font: 'Nunito', Arial, sans-serif;

$bg-purple: #b168e8;

%bg-shared {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

%hover-shared{
    cursor: pointer;
    background-color: #e5e3e3;
    opacity: 1;
    border: 1.5px grey solid transparent;
    box-shadow: 1px 5px 2px #8c8c8c;
    background-image: linear-gradient(0deg, #e5e3e3 50%, #a8a8a8 50%);
    background-size: 4px 4px;
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    -ms-border-radius: $property;
    -o-border-radius: $property;
    border-radius: $property;
}

.sections{
    @extend %bg-shared;
    transition: ease-in-out .8s, opacity ease-in-out .8s;
    width: 100vw;
    height: calc(100vh - 75px);
    
}

.start-page{
   display: flex;
    overflow-x: hidden;

}

.inspiration-page{
    overflow-y: scroll;
}


.body{

    margin: 0;
    background-image: url(../assets/background/MyPortfolio1.jpg);

    .sections{
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}
.menu-mobile{
 
    width: 100vw;
    height: 70px;
    font-size: 2.2em;
    user-select: none;
    background-color: $bg-purple;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: $font;
    display: none;
    @include border-radius(10px);
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    

    .menu__button{
        width: 24%;
        height: 70px;
        transition: all .1s linear;
        @include border-radius(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: #230b25;
        font-family: $font;
        font-size: 2.2em;
        user-select: none;
    }
    
    .menu__button:not(.menu__button_active):hover{
        @extend %hover-shared;
        transition: .2s;
    }
    
    .menu__button:not(.menu__button_active):active{
        box-shadow: 0 3px 0 #8c8c8c;
        transform: translateY(5px);
    }
    
    .menu__button_active{
        background: $bg-purple;
        border: 1.5px grey solid;
    }
}

@import 'clock';

.language{
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: absolute;
    right: 3vw;
    top: 5vh;

    .languages{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url(../assets/icons/bel-lang.png);
        @extend %bg-shared;
        border: none;
        z-index: 3;
    
    }
    .language__eng{
        background-image: url(../assets/icons/eng-lang.png);
    }

    .language__ru{
        background-image: url(../assets/icons/rus-lang.png);
    }

    .language__lt{
        background-image: url(../assets/icons/lt-lang.jpg);
    }

    .languages:hover{
        cursor: pointer;
    }

    .languages:active{
        transform: translateY(5px);
    }
}

.girl{
    position: absolute;
    display: flex;
    bottom: 0%;
    left: calc(50vw - 650px/2);
    width: 650px;
    z-index: 0;
}

.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 3vh;
    margin: 0 auto;
    width: 60vw;
    color: black;
    font-size: 2.2em;
    line-height: 130%;
    font-family:$font;
    text-shadow: 0px 1px 1px #8c8c8c;
    user-select: none;
    z-index: 1;
    

      p{
          margin: 0%;
      }
}

.info__button{
    font-family: $font;
    background-image: linear-gradient(0deg, #e5e3e3 50%,  #c5c5c5 50%);
    background-size: 4px 4px;
    font-size: 0.8em;
    width: 180px;
    height: 50px;
    box-shadow: 1px 5px 2px #8c8c8c;
    cursor: pointer;
    transition: all .1s linear;
    @include border-radius(10px);
    border: 1px gray solid;
    margin-bottom: 10px;
    z-index: 1;
  
}
  
.info__button:active{
    box-shadow: 0 3px 0 #8c8c8c;
    transform: translateY(5px);

}
  
.info__button:hover{
    background: $bg-purple;  
}
  
.links{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -80px;
    bottom: 0;
    border: 1.5px rgb(17, 17, 17) solid;
    @include border-radius(10px);
    background-image: linear-gradient(0deg, #e5e3e3 50%, #c5c5c5 50%);
    background-size: 4px 4px;
    width: 80px;
    text-align: center;
    box-shadow: -1px 5px 2px #8c8c8c;
    transition: .5s;
    z-index: 5;
}

.links__img{
    width: 70%;
    padding: 10px;
}

.links_appear{
    right: 0px;
}

/*--------------PROJECTS--------------*/

.page{
    display: flex;
    flex-direction: row;
    width: 90vw;
    gap: 10%;
    margin-left: 10%;
    margin-top: 8vh;
}

.page__left-side{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin-top: 10vh;

    .page__go-project{
        display: none;
    }
   
    .page__button{
        @include border-radius(50%);
        width: 100px;
        height: 100px;
        font-family: $font;
        font-size: 1.1em;
        border: 2px gray solid;
        user-select: none;
        box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
    }
    
    .page__button:not(.page__button_active):hover{
       @extend %hover-shared;
    
    }
    
    .page__button:not(.page__button_active):active{
        box-shadow: 0 4px 0 #8c8c8c;
        transform: translateY(7px);
        transition: 0.3s;
    }
    
    .page__button_active{
        background: $bg-purple;
        border: 1.5px grey solid;
        box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
}


.page__right-side{
   margin-top: 10vh;

   .screen{
    margin: 0%;
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    background-color: lightgreen;
    box-shadow: 1em 1em 1em rgba(60, 59, 59, 0.516);
    @include border-radius(10px);
    transition: ease-in-out .8s, opacity ease-in-out .8s;
    transform: scale(0.9);
}
.screen_active{
    visibility: visible; 
    opacity: 1;    
}

.screen__screenshot{
    width: 60vw;
}

.screen__figcaption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font;
    font-size: 1.3em;

    button{
        @include border-radius(50%);
        border: 1.5px $bg-purple solid;
        background-color: $bg-purple;
        height: 55px;
        width: 55px;
        font-family: $font;
        font-size: 1.2em;
    }

    button:hover{
        @extend %hover-shared;
    }

    button:active{
        box-shadow: 0 3px 0 #8c8c8c;
        transform: translateY(5px);
        transition: 0.3s;
    }
}

}


/*------------inspiration-----------*/

.scroll-top{
   position: absolute;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 2%;
}

.gallery__card{
    height: 230px;
    width: 200px;
    transition: 0.3s;


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1.5px grey solid;
        @include border-radius(10px);
        box-shadow: 1px 5px 2px #8c8c8c;
        }
}

.gallery__card:hover{
    transform: rotate(-2deg) scale(1.1);
    transition: 1s;
    z-index: 1;
    cursor: pointer;
}

.gallery__card:active{
    transform: none;

}
@keyframes appearModal{

    from{
        visibility: hidden;
        opacity: 0;
    }

    to{
        visibility: visible;
        opacity: 1;
    }

}

.animation-modal{
    animation-name: appearModal;
    animation-duration: 1s;
    
}

.modal-card{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
   
    // transition: visibility 1s linear,opacity 1s linear;
    


    .modal-card__close-btn{
        width: 60px;
        height: 60px;
        margin-left: 880px;
        background: none;
        border: none;
        cursor: pointer;

        img{
            width: 125%;
            height: 125%;
            object-fit: cover;
        }    
        
    }

    .modal-card__close-btn:hover{
        transform: scale(1.2);
        transition:  all .2s linear;
    }

    .modal-card__close-btn:active{
        
        transform: translateY(5px);
    }

    .modal-card__wrapper{
        height: 500px;        
        width: 900px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include border-radius(10px);
            
        }   
    }
}

.black-back{
    visibility: hidden; 
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #000000dd;
    z-index: 2;
    margin: 0px;
}

.inspiration-page__button{
    display: none;
    position: fixed;
    width: 75px;
    height: 75px;
   background-image: url(../assets/icons/up-arrow.png);
   @extend %bg-shared;
   background-color: unset;
   border: none;
   z-index: 5;
   transition: .3s;
   cursor: pointer;
}

.inspiration-page__button:active{

    transform: translateY(7px);
}


/*----------CONTACTS--------------*/

    .preloader,
    .contact-form__message{
        display: none;
    }

.box-wrapper{
    background-image: url(../assets/background/contacts.png);
    @extend %bg-shared;
    width: 945px;
    height: 550px;
    min-height: unset;
    object-fit: contain;
    background-color: inherit;
    margin: 0 auto;
    @include border-radius(20px);
    display: flex;
    justify-content: space-around;

    .call-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;

        .call-me__btn{
            display: none;
        }

        .call-me__content{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .call-me__cancel{
            display: none;
            width: 50px;
            height: 50px;
            background-image: url(../assets/icons/call-me_cancel.png);
            background-color: inherit;
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;

        }
        
        .call-me__heading{
            font-size: 1.7em;
            font-family: $font;
            color: white;
            text-align: center;
            font-weight: lighter;
        }

        .call-me__button{
            @include border-radius(10px);
            font-family: $font;
            font-size: 1.5em;
            height: 100%;
            width: 200px;
            border: 2px gray solid;
            background-color: white;
        }

        .call-me__button:hover{
            @extend %hover-shared;
            background-image: url(../assets/background/contact-buttons.png);
        }

        .call-me__button:active{
            box-shadow: 0 3px 0 #8c8c8c;
            transform: translateY(5px);
        }
    }

    .call-you{

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
        
        .call-you__heading{
            font-size: 1.7em;
            font-family: $font;
            color: rgb(8, 8, 8);
            text-align: center;
            font-weight: lighter;
        }

        .contact_button{
            display: none;
        }

        #form-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            .call-you__cancel{
                display: none;
                width: 50px;
                height: 50px;
                background-image: url(../assets/icons/call-you_cancel.png);
                background-color: inherit;
                background-size: cover;
                background-position: center;
                margin-top: -20px;
                margin-bottom: 20px;
            }

            .contact-form__input_file{
                border-style: none;
            }
            .contact-form__input,
            .contact-form__button{
                @include border-radius(10px);
                font-family: $font;
                font-size: 1.3em;
                width: 200px;
                height: 40px;
                border: 1px rgb(8, 8, 8) solid;
                background-color: white;
                text-align: center;
            }

            .contact-form__button{
                background-color: $bg-purple;
                font-size: 1.5em;
            }

            .contact-form__button:hover{
                @extend %hover-shared;
                background-image: url(../assets/background/contact-buttons.png)
            }

            .contact-form__button:active{
                box-shadow: 0 3px 0 #8c8c8c;
                transform: translateY(5px);
            }

            
        }
    }
}

@media (max-width:999.9px){

    .menu__button{

        font-size: 1.5em;

    }

    .info{
        font-size: 1.5em;
    }

    .clock{
        display: none;
    }

    .girl{
        width: 600px;

    }
 /*------------INSPIRATION------------*/
    

 .inspiration-page__button{
    display: flex;
    top: 80vh;
    left: 5vw;
}

    .black-back,
    .modal-card{
        display: none;
    }

     /*----------CONTACTS---------*/
    
     .box-wrapper{

        background-image: none;
        flex-direction: column;
        width: unset;
        height: unset;
        margin-top: 6vh;

       .call-you{

            .call-you__heading{
                display: none;
            }

            .call-you__btn{
                display: flex;
                background-image: url(../assets/icons/call-you.png);
                justify-content: center;
                align-items: center;
                height: 260px;
                width: 260px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0%;
                cursor: pointer;

                p{
                    font-family: $font;
                    font-size: 2em;   
                    text-align: center;
                    width: 70%;
                    user-select: none;
                }
            }
           

            .contact-form{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: visibility 0.7s linear,opacity 0.7s linear;
                background-color: lightgreen;
                @include border-radius(10px);
                height: 75vh;
                width: 85vw;
                gap: 50px;
                justify-content: center;
                align-items: center;
                align-content: center;
                margin-top: -37vh;
                border: 1px black solid;

                .call-you__cancel{
                    display: flex;
                    transition: .3s;
                }
    
                .call-you__cancel:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                }

                .call-you__cancel:active{
                transform: scale(0.8);
    
                }
            }
       }

       .call-me{

          align-items: center;

            .call-me__cancel{
                transition: .3s;
                display: flex;
            }

            .call-me__cancel:hover{
               cursor: pointer;
               transform: scale(1.2);
            }

            .call-me__cancel:active{
            transform: scale(0.8);

            }

            .call-me__heading{
                display: none;
            }

            .call-me__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 260px;
                width: 260px;
                background-image: url(../assets/icons/call-me.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0%;
                cursor: pointer;


                p{
                    font-family: $font;
                    font-size: 2em;   
                    text-align: center;
                    width: 70%;
                    user-select: none;
                }

            }
            .call-me__content{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: visibility 0.7s linear,opacity 0.7s linear;
                display: flex;
                background-color: $bg-purple;
                 @include border-radius(10px);
                 flex-direction: column;
                height: 75vh;
                width: 85vw;
                gap: 30px;
                justify-content: center;
                align-items: center;
                align-content: center;
                margin-top: 40vh;
            }
        }
        

    }
    

}

@media (max-width: 690px){

    
    
    .body{

        overflow-y: hidden; 
   }

    .menu-mobile{
        
        display: flex;
        cursor: pointer;
    }
        
    .menu{
        transition: 1s;
        position: absolute;
        top: -350px;
        z-index: 5;
        flex-direction: column;
        @include border-radius(10px);
        background-image: linear-gradient(0deg, #e5e3e3 50%,  #c5c5c5 50%);
        background-size: 4px 4px;
        cursor: pointer;    

        .menu__button{
            height: 75px;
        }
    }
    
    .menu-appear{

        top: 70px;
    }

    .menu-mobile_color{

        
        background: lightgreen;

    }
    
    .girl{

    width: 95vw;
    left: calc(50vw - 47vw + 30px);
    }

    .clock{
        display: none;
    }

        .info__button{
            display: none;
        }
    

    .links{

        left: 0;
        right: unset;
        bottom: 50px;
    }

    /*------PROJECTS---------*/

    .page{
      
      margin: 0 auto;
      margin-top: 7vh;

       .page__left-side{

        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 4vh;

         .page__go-project{
            display: flex;
            justify-content: center;
            @include border-radius(50%);
            width: 150px;
            height: 150px;
            border: 1px black solid;
            user-select: none;
            text-decoration: none;
            background-color: lightgreen;
            

            button{
                border: none;
                background-color: unset;
                font-family: $font;
                font-size: 1.2em;

            }
        }

        .go-project_right{
            margin-right: -600px;
            transition: 1s;
        }

        .transition-right{

            margin-right: 0;
        }

        .go-project_left{

            margin-left: -600px;
            transition: 1s;
            background-image: linear-gradient(0deg, #e5e3e3 50%,  #c5c5c5 50%);
            background-size: 4px 4px; ;
        }

        .transition-left{

            margin-left: 0;
        }

        .page__go-project:active{

            box-shadow: 0 3px 0 #8c8c8c;
            transform: translateY(5px);
        }

        .page__button{
            display: none;
        }

        }

        .page__right-side{
             display: none;
             
        }  
    }
    
}

@media ( max-width: 500px){

    .info{
        width: 66vw;
        margin-top: 6vh;
        margin-left: 5vw;
        justify-content: flex-start;}


}