@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.other-pages, .home-page {
  background-color: rgba(201, 198, 204, 0.831372549);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0%;
}

.page__button:not(.page__button_active):hover, .menu__button:not(.menu__button_active):hover {
  cursor: pointer;
  background-color: #e5e3e3;
  opacity: 1;
  border: 1.5px grey solid transparent;
  box-shadow: 1px 5px 2px #8c8c8c;
  background-image: linear-gradient(0deg, #e5e3e3 50%, #a8a8a8 50%);
  background-size: 4px 4px;
}

.home-page {
  background-image: url(/assets/background/MyPortfolio.jpg);
}

.other-pages {
  background-image: url(/assets/background/MyPortfolio1.jpg);
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.menu__button {
  width: 24%;
  height: 10vh;
  transition: all 0.1s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.menu__button a {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #230b25;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 2em;
}

.menu__button:not(.menu__button_active):active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}

.menu__button_active {
  background: rgba(177, 104, 232, 0.8745098039);
  border: 1.5px grey solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.calendar {
  margin: 7%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
  margin: 0 auto;
  width: 95%;
  color: black;
  font-size: 2em;
  line-height: 130%;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  text-shadow: 0px 1px 1px #8c8c8c;
  user-select: none;
}
.info p {
  margin: 0%;
}

.info__button {
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 0.5em;
  width: 10vw;
  height: 5vh;
  box-shadow: 1px 5px 2px #8c8c8c;
  cursor: pointer;
  transition: all 0.1s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.info__button:active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}

.info__button:hover {
  background: rgba(177, 104, 232, 0.8745098039);
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1.5px gray solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #e5e3e3 50%, #a8a8a8 50%);
  width: 8vw;
  text-align: center;
  box-shadow: -1px 5px 2px #8c8c8c;
}

.links__img {
  width: 70%;
  padding: 10px;
}

/*--------------PROJECTS--------------*/
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.page__left-side {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-top: 10vh;
}

.page__button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-family: "Poppins", Verdana, Arial, sans-serif;
}

.page__button:not(.page__button_active):active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}

.page__button_active {
  background: rgba(177, 104, 232, 0.8745098039);
  border: 1.5px grey solid;
}

.page__right-side {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.screen-wrapper {
  border: 2px lightgreen solid;
}

.screen__screenshot {
  width: 60vw;
}

.screen__figcaption {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
