@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.box-wrapper, .start-page, .sections {
  background-color: rgba(201, 198, 204, 0.831372549);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0%;
}

.box-wrapper .call-you #form-contact .contact-form__button:hover, .box-wrapper .call-me .call-me__button:hover, .screen__figcaption button:hover, .page__button:not(.page__button_active):hover, .menu .menu__button:not(.menu__button_active):hover {
  cursor: pointer;
  background-color: #e5e3e3;
  opacity: 1;
  border: 1.5px grey solid transparent;
  box-shadow: 1px 5px 2px #8c8c8c;
  background-image: linear-gradient(0deg, #e5e3e3 50%, #a8a8a8 50%);
  background-size: 4px 4px;
}

.sections {
  transition: ease-in-out 0.8s, opacity ease-in-out 0.8s;
  width: 100vw;
}

.start-page {
  background-image: url(/assets/background/MyPortfolio.jpg);
  height: 100vh;
}

.body {
  margin: 0;
}
.body .sections {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu .menu__button {
  width: 24%;
  height: 70px;
  transition: all 0.1s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #230b25;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 2em;
  user-select: none;
}
.menu .menu__button:not(.menu__button_active):hover {
  transition: 0.2s;
}
.menu .menu__button:not(.menu__button_active):active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}
.menu .menu__button_active {
  background: rgba(177, 104, 232, 0.8745098039);
  border: 1.5px grey solid;
}

.clock {
  box-shadow: inset 0 0 0 0.02em #000;
  display: inline-block;
  border-radius: 0.5em;
  position: relative;
  font-size: 250px;
  overflow: hidden;
  height: 1em;
  width: 1em;
}

.clock::after {
  content: "";
  background-color: #fff;
  border-radius: 0.5em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  position: absolute;
  font-size: 0.01em;
  display: block;
  height: 1em;
  width: 1em;
  left: 50%;
  top: 50%;
}

.clock__hand-container, .clock__hand, .clock__stroke {
  margin-left: -0.5em;
  margin-top: -0.5em;
  font-size: inherit;
  position: absolute;
  display: block;
  height: 1em;
  width: 1em;
  left: 50%;
  top: 50%;
}

.clock__stroke::after {
  content: "";
  border-radius: 0 0 0.02em 0.02em;
  background-color: #000;
  margin-left: -0.01em;
  position: absolute;
  display: block;
  height: 0.05em;
  width: 0.02em;
  top: 0.02em;
  left: 50%;
}

.clock__stroke--small::after {
  content: "";
  border-radius: 0 0 0.0125em 0.0125em;
  height: 0.025em;
  width: 0.015em;
}

.clock__stroke--1 {
  transform: rotate(6deg);
}

.clock__stroke--2 {
  transform: rotate(12deg);
}

.clock__stroke--3 {
  transform: rotate(18deg);
}

.clock__stroke--4 {
  transform: rotate(24deg);
}

.clock__stroke--5 {
  transform: rotate(30deg);
}

.clock__stroke--6 {
  transform: rotate(36deg);
}

.clock__stroke--7 {
  transform: rotate(42deg);
}

.clock__stroke--8 {
  transform: rotate(48deg);
}

.clock__stroke--9 {
  transform: rotate(54deg);
}

.clock__stroke--10 {
  transform: rotate(60deg);
}

.clock__stroke--11 {
  transform: rotate(66deg);
}

.clock__stroke--12 {
  transform: rotate(72deg);
}

.clock__stroke--13 {
  transform: rotate(78deg);
}

.clock__stroke--14 {
  transform: rotate(84deg);
}

.clock__stroke--15 {
  transform: rotate(90deg);
}

.clock__stroke--16 {
  transform: rotate(96deg);
}

.clock__stroke--17 {
  transform: rotate(102deg);
}

.clock__stroke--18 {
  transform: rotate(108deg);
}

.clock__stroke--19 {
  transform: rotate(114deg);
}

.clock__stroke--20 {
  transform: rotate(120deg);
}

.clock__stroke--21 {
  transform: rotate(126deg);
}

.clock__stroke--22 {
  transform: rotate(132deg);
}

.clock__stroke--23 {
  transform: rotate(138deg);
}

.clock__stroke--24 {
  transform: rotate(144deg);
}

.clock__stroke--25 {
  transform: rotate(150deg);
}

.clock__stroke--26 {
  transform: rotate(156deg);
}

.clock__stroke--27 {
  transform: rotate(162deg);
}

.clock__stroke--28 {
  transform: rotate(168deg);
}

.clock__stroke--29 {
  transform: rotate(174deg);
}

.clock__stroke--30 {
  transform: rotate(180deg);
}

.clock__stroke--31 {
  transform: rotate(186deg);
}

.clock__stroke--32 {
  transform: rotate(192deg);
}

.clock__stroke--33 {
  transform: rotate(198deg);
}

.clock__stroke--34 {
  transform: rotate(204deg);
}

.clock__stroke--35 {
  transform: rotate(210deg);
}

.clock__stroke--36 {
  transform: rotate(216deg);
}

.clock__stroke--37 {
  transform: rotate(222deg);
}

.clock__stroke--38 {
  transform: rotate(228deg);
}

.clock__stroke--39 {
  transform: rotate(234deg);
}

.clock__stroke--40 {
  transform: rotate(240deg);
}

.clock__stroke--41 {
  transform: rotate(246deg);
}

.clock__stroke--42 {
  transform: rotate(252deg);
}

.clock__stroke--43 {
  transform: rotate(258deg);
}

.clock__stroke--44 {
  transform: rotate(264deg);
}

.clock__stroke--45 {
  transform: rotate(270deg);
}

.clock__stroke--46 {
  transform: rotate(276deg);
}

.clock__stroke--47 {
  transform: rotate(282deg);
}

.clock__stroke--48 {
  transform: rotate(288deg);
}

.clock__stroke--49 {
  transform: rotate(294deg);
}

.clock__stroke--50 {
  transform: rotate(300deg);
}

.clock__stroke--51 {
  transform: rotate(306deg);
}

.clock__stroke--52 {
  transform: rotate(312deg);
}

.clock__stroke--53 {
  transform: rotate(318deg);
}

.clock__stroke--54 {
  transform: rotate(324deg);
}

.clock__stroke--55 {
  transform: rotate(330deg);
}

.clock__stroke--56 {
  transform: rotate(336deg);
}

.clock__stroke--57 {
  transform: rotate(342deg);
}

.clock__stroke--58 {
  transform: rotate(348deg);
}

.clock__stroke--59 {
  transform: rotate(354deg);
}

.clock__hand--hour::after {
  content: "";
  border-radius: 0.015em 0.015em 0.01em 0.01em;
  background-color: #000;
  margin-bottom: -0.02em;
  margin-left: -0.025em;
  font-size: inherit;
  position: absolute;
  display: block;
  height: 0.25em;
  width: 0.05em;
  bottom: 50%;
  left: 50%;
}

.clock__hand--minute::after {
  content: "";
  border-radius: 0.012em 0.012em 0.01em 0.01em;
  background-color: #000;
  margin-bottom: -0.02em;
  margin-left: -0.015em;
  font-size: inherit;
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0.03em;
  bottom: 50%;
  left: 50%;
}

.clock__hand--second::after {
  content: "";
  border-radius: 0.01em 0.01em 0.005em 0.005em;
  background-color: #f00;
  margin-bottom: -0.02em;
  margin-left: -0.005em;
  font-size: inherit;
  position: absolute;
  display: block;
  height: 0.46em;
  width: 0.01em;
  bottom: 50%;
  left: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
  margin: 0 auto;
  width: 95%;
  color: black;
  font-size: 2em;
  line-height: 130%;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  text-shadow: 0px 1px 1px #8c8c8c;
  user-select: none;
}
.info p {
  margin: 0%;
}

.info__button {
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 0.5em;
  width: 10vw;
  height: 5vh;
  box-shadow: 1px 5px 2px #8c8c8c;
  cursor: pointer;
  transition: all 0.1s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.info__button:active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}

.info__button:hover {
  background: rgba(177, 104, 232, 0.8745098039);
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1.5px gray solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #e5e3e3 50%, #a8a8a8 50%);
  width: 8vw;
  text-align: center;
  box-shadow: -1px 5px 2px #8c8c8c;
}

.links__img {
  width: 70%;
  padding: 10px;
}

/*--------------PROJECTS--------------*/
.page {
  display: flex;
  flex-direction: row;
  width: 90vw;
  gap: 10%;
  margin-left: 10%;
}

.page__left-side {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-top: 10vh;
}

.page__button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  border: 2px gray solid;
  user-select: none;
  box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.page__button:not(.page__button_active):active {
  box-shadow: 0 4px 0 #8c8c8c;
  transform: translateY(7px);
  transition: 0.3s;
}

.page__button_active {
  background: rgba(177, 104, 232, 0.8745098039);
  border: 1.5px grey solid;
  box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.page__right-side {
  margin-top: 10vh;
}

.screen {
  margin: 0%;
  position: absolute;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  background-color: lightgreen;
  box-shadow: 1em 1em 1em rgba(60, 59, 59, 0.516);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  transition: ease-in-out 0.8s, opacity ease-in-out 0.8s;
  transform: scale(0.9);
}

.screen_active {
  visibility: visible;
  opacity: 1;
}

.screen__screenshot {
  width: 60vw;
}

.screen__figcaption {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 1.2em;
}
.screen__figcaption button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1.5px rgba(177, 104, 232, 0.8745098039) solid;
  background-color: rgba(177, 104, 232, 0.8745098039);
  height: 50px;
  width: 50px;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.screen__figcaption button:active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
  transition: 0.3s;
}

/*------------inspiration-----------*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 5%;
}

.gallery__card {
  height: 230px;
  width: 200px;
  transition: 0.3s;
}
.gallery__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1.5px grey solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 5px 2px #8c8c8c;
}

.gallery__card:hover {
  transform: rotate(-2deg) scale(1.1);
  transition: 1s;
  z-index: 1;
  cursor: pointer;
}

.gallery__card:active {
  transform: none;
}

.modal-card {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s linear, opacity 1s linear;
}
.modal-card .modal-card__close-btn {
  width: 60px;
  height: 60px;
  margin-left: 880px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal-card .modal-card__close-btn img {
  width: 125%;
  height: 125%;
  object-fit: cover;
}
.modal-card .modal-card__close-btn:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}
.modal-card .modal-card__close-btn:active {
  transform: translateY(5px);
}
.modal-card .modal-card__wrapper {
  height: 500px;
  width: 900px;
}
.modal-card .modal-card__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.black-back {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8666666667);
  z-index: 2;
  margin: 0px;
}

/*----------CONTACTS--------------*/
.box-wrapper {
  background-image: url(/assets/background/contacts.png);
  width: 945px;
  height: 550px;
  min-height: unset;
  object-fit: contain;
  background-color: inherit;
  margin: 0 auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.box-wrapper .call-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.box-wrapper .call-me .call-me__heading {
  font-size: 1.7em;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  color: white;
  text-align: center;
  font-weight: lighter;
}
.box-wrapper .call-me .call-me__button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 1.5em;
  height: 100%;
  width: 200px;
  border: 2px gray solid;
  background-color: white;
}
.box-wrapper .call-me .call-me__button:hover {
  background-image: url(/assets/background/contact-buttons.png);
}
.box-wrapper .call-me .call-me__button:active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}
.box-wrapper .call-you {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.box-wrapper .call-you .call-you__heading {
  font-size: 1.7em;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  color: rgb(8, 8, 8);
  text-align: center;
  font-weight: lighter;
}
.box-wrapper .call-you #form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.box-wrapper .call-you #form-contact .contact-form__input_file {
  border-style: none;
}
.box-wrapper .call-you #form-contact .contact-form__input,
.box-wrapper .call-you #form-contact .contact-form__button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-family: "Poppins", Verdana, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  width: 200px;
  border: 1px rgb(8, 8, 8) solid;
  background-color: white;
}
.box-wrapper .call-you #form-contact .contact-form__button {
  background-color: #b168e8;
  font-size: 1.5em;
}
.box-wrapper .call-you #form-contact .contact-form__button:hover {
  background-image: url(/assets/background/contact-buttons.png);
}
.box-wrapper .call-you #form-contact .contact-form__button:active {
  box-shadow: 0 3px 0 #8c8c8c;
  transform: translateY(5px);
}

/*# sourceMappingURL=style.css.map */
